services:
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin123
      - MINIO_DISK_THRESHOLD_PERCENTAGE=95
    volumes:
      - /data/minio_data:/data
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:9000/minio/health/ready > /dev/null || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 30

  setup-minio:
    build:
      context: ./minio
      dockerfile: Dockerfile
    container_name: setup-minio
    depends_on:
      minio:
        condition: service_healthy
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
    volumes:
      - /data/downloaded_models:/downloaded_models
    restart: "no"

  qwen-3b:
    build:
      context: ./models/server
      dockerfile: Dockerfile
    container_name: qwen-3b
    expose:
      - "50051"
    environment:
      - MODEL_NAME=qwen-3b
      - MODEL_ID=Qwen/Qwen2.5-3B-Instruct
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
    depends_on:
      setup-minio:
        condition: service_completed_successfully



  # llama-3.2-3b:
  #   build:
  #     context: ./models/server
  #     dockerfile: Dockerfile
  #   container_name: llama-3.2-3b
  #   expose:
  #     - "50051"
  #   environment:
  #     - MODEL_NAME=llama-3.2-3b
  #     - MODEL_ID=meta-llama/Llama-3.2-3B-Instruct
  #     - MINIO_ENDPOINT=minio:9000
  #     - MINIO_ACCESS_KEY=minioadmin
  #     - MINIO_SECRET_KEY=minioadmin123
  #   depends_on:
  #     setup-minio:
  #       condition: service_completed_successfully

  qwen-1.5b:
    build:
      context: ./models/server
      dockerfile: Dockerfile
    container_name: qwen-1.5b
    expose:
      - "50051"
    environment:
      - MODEL_NAME=qwen-1.5b
      - MODEL_ID=Qwen/Qwen2.5-1.5B-Instruct
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
    depends_on:
      setup-minio:
        condition: service_completed_successfully

  router:
    build:
      context: ./router
      dockerfile: Dockerfile
    container_name: qa-router
    ports:
      - "50050:50050"
    environment:
      BACKENDS_qwen-3b: "qwen-3b:50051"
      # BACKENDS_llama-3.2-3b: "llama-3.2-3b:50051"
      BACKENDS_qwen-1.5b: "qwen-1.5b:50051"
    depends_on:
      - qwen-3b
      # - llama-3.2-3b
      - qwen-1.5b

  evaluate-pipeline:
    build:
      context: .
      dockerfile: evaluate/Dockerfile
    container_name: evaluate-pipeline
    depends_on:
      - router
    environment:
      - ROUTER_ADDR=qa-router:50050
    volumes:
      - /data/results:/data/results
      - /data/chromadb:/chromadb
      - /data/hotpotqa.csv:/data/hotpotqa.csv
