version: "3.9"

services:
  prepare-hotpotqa:
    build:
      context: ./scripts/hotpotqa
      dockerfile: Dockerfile
    container_name: prepare-hotpotqa
    volumes:
      - hotpotdata:/mnt/HotpotQA
      - chromadbdata:/mnt/ChromaDb

  prepare-qasper:
    build:
      context: ./scripts/qasper
      dockerfile: Dockerfile
    container_name: prepare-qasper
    volumes:
      - qasperdata:/mnt/Qasper
      - chromadbdata:/mnt/ChromaDb
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
      MINIO_DISK_THRESHOLD_PERCENTAGE: 1  # allow usage up to 99% disk
    volumes:
      - minio_data:/data
  setup-minio:
    build:
      context: ./minio
      dockerfile: Dockerfile
    container_name: setup-minio
    depends_on:
      - minio
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
    volumes:
      - ./downloaded_models:/downloaded_models
    command: ["python", "setup_minio.py"]
  chroma:
    image: chromadb/chroma:latest
    container_name: chroma-server
    ports:
      - "8000:8000"
    environment:
      - IS_PERSISTENT=TRUE
      - CHROMA_DB_IMPL=duckdb+parquet
      - ANONYMIZED_TELEMETRY=False
    volumes:
      - chromadbdata:/chroma



  tinyroberta:
    build:
      context: ./models/server
      dockerfile: Dockerfile
    container_name: tinyroberta
    expose:
      - "50051"
    environment:
      - MODEL_NAME=tinyroberta
      - MODEL_ID=deepset/tinyroberta-squad2
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
    depends_on:
      - setup-minio

  roberta-base:
    build:
      context: ./models/server
      dockerfile: Dockerfile
    container_name: roberta-base
    expose:
      - "50051"
    environment:
      - MODEL_NAME=roberta-base
      - MODEL_ID=deepset/roberta-base-squad2
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
    depends_on:
      - setup-minio

  bert-large:
    build:
      context: ./models/server
      dockerfile: Dockerfile
    container_name: bert-large
    expose:
      - "50051"
    environment:
      - MODEL_NAME=bert-large
      - MODEL_ID=google-bert/bert-large-uncased-whole-word-masking-finetuned-squad
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin123
    depends_on:
      - setup-minio

  router:
    build:
      context: ./router
      dockerfile: Dockerfile
    container_name: qa-router
    ports:
      - "50050:50050"
    environment:
      BACKENDS_TINYROBERTA: "tinyroberta:50051"
      BACKENDS_ROBERTA_BASE: "roberta-base:50051"
      BACKENDS_BERT_LARGE: "bert-large:50051"
    depends_on:
      - tinyroberta
      - roberta-base
      - bert-large
    volumes:
      - chromadbdata:/mnt/ChromaDb

  evaluate-pipeline:
    build:
      context: .
      dockerfile: evaluate/Dockerfile
    container_name: evaluate-pipeline
    depends_on:
      - router
      - prepare-hotpotqa
      - prepare-qasper
    environment:
      - ROUTER_ADDR=qa-router:50050
    volumes:
      - hotpotdata:/mnt/HotpotQA
      - qasperdata:/mnt/Qasper
      - chromadbdata:/mnt/ChromaDb
      - ./results:/mnt/results
  jupyter:
    image: jupyter/scipy-notebook:python-3.10
    user: root                  
    container_name: milestone2-jupyter
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_TOKEN=milestone2
    volumes:
      - ./results:/home/jovyan/results
      - ./notebooks:/home/jovyan/notebooks
    working_dir: /home/jovyan/notebooks


volumes:
  hotpotdata:
  qasperdata:
  chromadbdata:
  minio_data:
